<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>Addressbook</title>
<script
  src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="js/addressbook-ajax.js"></script>
</head>

<body>
  <h1>Addressbook</h1>

  <ul id="addressbook">
    <template id="personTemp">
    <li>
      <h2>{{name}}</h2>
      <h3>Numbers:</h3>
      <ul>{{numbers}}</ul>
      <h3>Addresses:</h3>
      <ul>{{addresses}}</ul>
      <h3>Emails:</h3>
      <ul>{{emails}}</ul>
      <h3>Notes:</h3>
      <ul>{{notes}}</ul>
    </li>
    </template>
    <template id="numberTemp">
    <li>
      <h3>{{number}}</h3>
    </li>
    </template>
    <template id="addressTemp">
    <li>
      <h3>{{address}}</h3>
    </li>
    </template>
    <template id="emailTemp">
    <li>
      <h3>{{email}}</h3>
    </li>
    </template>
    <template id="noteTemp">
    <li>
      <h3>{{note}}</h3>
    </li>
    </template>
  </ul>
</body>
</html>