<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
<title>Addressbook</title>
</head>
<body>
  <h1><span class="glyphicon glyphicon-book"></span> Addressbook</h1>
  <ul th:each="entry : ${entries}">
    <li> 
      <h2><span class="glyphicon glyphicon-user" th:text="${' ' +entry.name}"></span></h2>
      <ul th:each="detail : ${entry.details}" >
        <li>
          <h3><span class="glyphicon "
            th:attrappend="class='glyphicon-' + ${
              detail.type.name() == 'NUMBER' ? 'phone-alt' :
              detail.type.name() == 'ADDRESS' ? 'home' :
              detail.type.name() == 'EMAIL' ? 'envelope' :
              detail.type.name() == 'NOTE' ? 'bookmark' : ''
              }"
            th:text="${' '+detail.value}"></span></h3>
        </li>
      </ul>
    </li>
  </ul>
</body>
</html>