<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>Addressbook</title>
</head>
<body>
  <h1>Addressbook</h1>
  <ul th:each="person : ${persons}">
    <li>
      <h2 th:text="${person.firstname + ' ' + person.lastname}">Full name</h2>
      <h3>Numbers:</h3>
      <ul th:each="number : ${person.numbers}">
        <li>
          <h4 th:text="${number}">Number</h4>
        </li>
      </ul>
      <h3>Addresses:</h3>
      <ul th:each="address : ${person.addresses}">
        <li>
          <h4 th:text="${address}">Address</h4>
        </li>
      </ul>
      <h3>Emails:</h3>
      <ul th:each="email : ${person.emails}">
        <li>
          <h4 th:text="${email}">Email</h4>
        </li>
      </ul>
      <h3>Notes:</h3>
      <ul th:each="note : ${person.notes}">
        <li>
          <h4 th:text="${note}">Note</h4>
        </li>
      </ul>
    </li>
  </ul>
</body>
</html>